@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #ededed;
  }
}

.list-image-check {
  list-style-image: url('../public/dashboard/list-dot.png'); /* path to your image */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.cl-internal-xywyrm{
  width: 37rem;
}
.cl-card {
  width: 37rem !important; 
  max-width: 100% !important; 
  padding: 30px !important;
}
.cl-headerTitle {
  font-size: 40px !important; 
  font-weight: 700 !important; 
  text-align: center !important;
  font-family: arial !important;
}
.cl-headerSubtitle {
  font-size: 14px !important; 
  font-weight: 500 !important;
  color: #6b7280 !important; 
}